

.owl-theme .owl-nav {
    background: transparent;
    color: #faa61a;
}
.owl-theme .owl-nav {
    position: relative;
    /*bottom: 340px;*/
    bottom: 21rem;
    font-size: 100px;
}
.owl-prev {
    position: absolute;
    left: 0px;
}
.owl-next {
    position: absolute;
    right: 0px;
}

/*CSS for dots*/
.owl-theme .owl-dots .owl-dot.active span {
    width: 25px;
    transition: all 0.5s;
}
.owl-theme .owl-dots {
    margin-top: 0px;
}