* {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Lato', sans-serif;
}
.wp {
	padding: 0; 
	margin: 0;
	font-family: 'Lato', sans-serif;
}
div.row {
    margin:0;
}
i.fa.fa-plane {
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari prior 9.0 */
    transform: rotate(-45deg); /* Standard syntax */
}
/*-------------------- start topbar --------------------*/

.top-bar {
	margin:0;
	padding: 0;
	width: 100%;
	background-color: #000;
	font-size: 14px;
	padding: 12px 0;
}
ul.list-inline{
	margin: 0;
	color: white;
	font-family: 'Lato', sans-serif;
}
.top-bar .form-group{
	margin-bottom:0px;
}
.top-bar .form-group{
    font-size:15px;
	position:relative;
	text-transform:uppercase;
	width:45px;
}
.top-bar .form-group.currency{
	width:35px;
}
.top-bar .form-group .fa{
	position:absolute;
	right:0px;
	top:20px;
	font-size:18px;
}
.top-bar .form-group select {
	z-index:9999;
	padding:0px;
	height:auto;
	z-index:1;
	background-color: #000;
	color: #ffffff;
	border: none;
}
div.links ul li a{
	color: #fff;
}
li.login, li.signin, li.list-money, li.list-language {
		margin-left: 48px;
	}
@media screen and (max-width: 991px) {
	li.login, li.signin, li.list-money, li.list-language {
		margin-left: 24px;
	}
}
@media screen and (max-width: 768px) {
	li.login, li.signin, li.list-money, li.list-language {
		margin-left: 24px;
	}
}
/*-------------------- end topbar --------------------*/

/*-------------------- start nav-bar --------------------*/
#menutop a.w-75 {
      font-size: 27px; 
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
      font-weight: bold; 
      text-decoration: none; 
      color: #000;
}
#menutop ul li a:hover {
	color: #faa61f;
}
a.w-75 span {
    color: #faa61f;
}
a.w-75 span i {
    font-size: 35px; 
}
form.form-inline div.form-group a.mr-4 {
    color: #faa61f; 
    border: 2px solid; 
    padding: 2px 7px; 
    border-radius: 50%;
}
.offcanvas-collapse ul li a.active {
    color:#faa61f;
}
div.offcanvas-collapse ul li a {
    color: #000; 
    font-weight: bold; 
}
i.fa.fa-bars {
    font-size: 30px;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    form.form-inline div.form-group a.mr-4 {
        color: #faa61f; 
        border: 2px solid; 
        padding: 2px 7px; 
        border-radius: 50%;
        margin-right: 5px !important;
    }
    .offcanvas-collapse ul li a.active {
        color:#faa61f;
        padding-right: 0px !important;
    }
}
@media screen and (max-width: 767.98px) {
    div.offcanvas-collapse ul li a {
        color: #fff; 
        font-weight: bold; 
    }
    div.offcanvas-collapse ul li div.dropdown-menu {
        width: 10%;
        background-color: #343a40;
        border: none;
    }
    div.offcanvas-collapse ul li div a.dropdown-item {
        color: #fff;
        width: 100%;
    }
    div.offcanvas-collapse ul li div a.dropdown-item:hover {
    	background-color: #343a40;
    }
    #menutop a.w-75 {
        font-size: 24px;
    }
    .offcanvas-collapse {
        position: fixed;
        top: 25%; /* Chiều cao của navbar */
        bottom: 0;
        width: 100vw;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        background-color: var(--gray-dark);
        transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    .offcanvas-collapse.open {
        -webkit-transform: translateY(-1rem) translateX(30%);
        transform: translateY(-1rem) translateX(30%);
    }
}
/*-------------------- end nav-bar --------------------*/


/*-------------------- start slide --------------------*/
.discover {
	font-family: 'Merriweather', serif;
}
.discover a.view-more {
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 3px 5px;
}
.discover h4 {
    margin-bottom: -5px;
}
@media screen and (max-width: 991px) {
    .discover a.view-more {
        font-size: 20px;
        margin-bottom: 0px;
    }
    .discover h4.discover {
        font-size: 22px;
        margin-bottom: -5px;
    }
    .discover h1.country {
        font-size: 30px;
        margin-bottom: 0px; 
    }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .discover a.view-more {
        font-size: 15px;
        margin-bottom: 0px;
    }
    .discover h4.discover {
        font-size: 17px;
        margin-bottom: -5px;
    }
    .discover h1.country {
        font-size: 25px;
        margin-bottom: 0px; 
    }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
    .discover a.view-more {
        font-size: 8px;
        margin-bottom: 0px;
    }
    .discover h4.discover {
        font-size: 10px;
        margin-bottom: 0px;
    }
    .discover h1.country {
        font-size: 18px;
        margin-bottom: 0px; 
    }
}
.list-item {
    width: 99.8%;
    /*border: solid green;*/
    padding-top: 10px;
    
}
.main-block:hover{
    transform:translateY(-10px);
    transition: 0.4s;
    border: 1px solid #faa61a;
    border-radius: 4px;
}
/*-------------------- end slide --------------------*/



/*-------------------- start hot-tours /*--------------------*/
.hot-tours {
    margin-bottom: 100px; 
}
.hot-tour {
    width: 100%;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #000;
    font-weight: bold;
    /*border: solid yellow;*/
    padding: 110px 0 50px 0;
}
.hot-tour h1 {
    margin-bottom: -5px;
}
.hot-tour hr {
    border: 2px solid #faa61a;
    width: 5%;
    margin: 20px auto;
    /*-webkit-margin-left: 47%;*/
    /*-moz-margin-left: 47%;*/
    /*-o-margin-left: 47%;*/
    /*-ms-margin-left: 47%;*/
}
.main-mask {
    background-color: #000;
}
.offer-price{
    font-size:14px;
    margin:0px;
    text-transform:uppercase;
    font-weight:bold;
    padding:14px 18px 11px;
}
.offer-price li.price{
    /*border: solid red;*/
    display: inline-block;
    font-size:27px;
    font-weight:bold;
    color: white;
    margin-left: 12px;
}
.offer-price li.price .pkg{
    font-size:16px;
    position:relative;
    top:-3px;
    color: #b6b6b6;
}
.offer-price li.price .divider{
    margin:0px 8px;
    font-size:14px;
    position:relative;
    top:-3px;
    color: #b6b6b6;
}
.offer-price li.rating{
    float:right;
    font-size:1.1em;
    position: relative;
    top: 8px;
}
.offer-price li.rating .fa {
    color: orange;
}
.offer-price li.rating .fa-1 {
    color: #d1d3d4;
}
.main-info {
    width: 100%;
    padding: 10px 0;
    background-color: #F7F7F7FF;
    border: 1px solid #e6e7e8;
}
.main-info .arrow {
    /*float: right;*/
}
.main-info .arrow a {
    border: 2px solid #faa61a;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 50%;
    position: relative;
    top: 15px;
    right: 20px;    
    float: right;
    color: #faa61a;
    font-size: 25px;
}
.main-title {
    margin-left: 30px;
}
.hotel-title .name-tour {
    font-size: 30px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
.main-title p {
    color: #808285;
    font-size: 16px;
    margin-top: -8px;
}
.view-all{
    /*border:solid red;*/
    font-family: 'Merriweather', serif;
    margin-top: 40px;
    margin-bottom: 100px; 
}
.view-all .btn{
    /*border: solid yellow;*/
    background-color: #faa61a;
    color: white;
    font-size: 16px;
}
.view-all .btn:hover {
    color: white;
    background-color: #000;
}

@media screen and (max-width: 1199px)
{
    .hot-tour hr
    {
        border: 2px solid #faa61a;
        width: 6%;
        margin: 17px auto;
    }
    .adventure-tours hr {
        border: 2px solid #faa61a;
        width: 12%;
        margin: 20px auto;
    }
    .offer-price li.price{
        font-size:23px;
        font-weight:bold;
        color: white;
        margin-left: 15px;
    }
    .offer-price li.price .pkg{
        font-size:13px;
        position:relative;
        top:-3px;
        color: #b6b6b6;
    }
    .offer-price li.rating{
        float:right;
        font-size:0.9em;
        position: relative;
        top: 8px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px)
{
    .hot-tour hr
    {
        border: 2px solid #faa61a;
        width: 7%;
        margin: 15px auto;
    }
    .adventure-tours hr {
        border: 2px solid #faa61a;
        width: 12%;
        margin: 20px auto;
    }
    .offer-price li.price{
        font-size:27px;
        font-weight:bold;
        color: white;
        margin-left: 15px;
    }
    .offer-price li.price .pkg{
        font-size:15px;
        position:relative;
        top:-3px;
        color: #b6b6b6;
    }
    .offer-price li.rating{
        float:right;
        font-size:1em;
        position: relative;
        top: 10px;
    }
}
@media screen and (min-width: 480px) and (max-width: 767px)
{
    .hot-tour hr{
        border: 2px solid #faa61a;
        width: 6%;
        margin: 13px auto;
    }
    /*-------------------start main-info-------------------*/
    .offer-price li.price{
        font-size:16px;
        font-weight:bold;
        color: white;
        margin-left: 15px;
    }
    .offer-price li.price .pkg{
        font-size:10px;
        position:relative;
        top:-3px;
        color: #b6b6b6;
    }
    .offer-price li.rating{
        float:right;
        font-size:0.8em;
        position: relative;
        top: 3px;
    }
    .adventure-tours hr {
        border: 2px solid #faa61a;
        width: 11%;
        margin: 20px auto;
    }
}
@media screen and (min-width: 240px) and (max-width: 479px)
{
    .offer-price{
        /*font-size:14px;*/
        margin:0px;
        text-transform:uppercase;
        font-weight:bold;
        padding:14px 18px 11px;
    }
    .offer-price li.price{
        font-size:21px;
        font-weight:bold;
        color: white;
        margin-left: 15px;
    }
    .offer-price li.price .pkg{
        font-size:11px;
        position:relative;
        top:-3px;
        color: #b6b6b6;
    }
    .offer-price li.rating{
        float:right;
        font-size:0.6em;
        position: relative;
        top: 10px;
    }
    .hot-tour hr{
        border: 2px solid #faa61a;
        width: 17%;
        margin: 0px auto;
    }
    .adventure-tours hr {
        border: 2px solid #faa61a;
        width: 17%;
        margin: 20px auto;
    }
}
/*---------------- end hot-tours ----------------*/


/*-------------- start best-feature --------------*/
.black-features {
    padding-top:40px;
    padding-bottom:40px;
    background-color: #232323;
    color: white;
}
.b-feature-block{
    text-align:center;
}
.b-feature-block .fa{
    height:70px;
    width:65px;
    text-align:center;
    padding-top:15px;
    font-size:35px;
    margin-bottom:28px;
    transition:.4s;
}
.b-feature-block h3{
    font-size:22px;
    font-weight:bold;
    margin-bottom:6px;
    font-size: 30px;
}
.b-feature-block p{
    margin-bottom:0px;
    font-size: 16px;
}
#tour-carousel .carousel-control{
    opacity:1;
    width:auto;
}
.b-feature-block .flip-animation {
    border: solid #faa61a;
    color: #faa61a;
}
.b-feature-block .flip-animation:hover {
    transition: 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    background-color: #faa61a;
    color: white;
}
@media screen and (max-width: 767px) {
    div.over {
        margin-bottom: 60px;
    };
}
/*-------------------- end best-feature --------------------*/

/*-------------------- start typeOfTour-1 --------------------*/
.x-tours {
    margin: 100px auto;
    font-family: 'Lato', sans-serif;
}
.x-tours .type-tour h2:hover {
    color: #104096;
}
.x-tours .type-tour a{
    text-decoration: none;z
}
.x-tours .type-tour a h2 {
    color: #231f20;
    /*font-weight: bold;*/
    font-family: 'Merriweather', serif;
}
.x-tours .type-tour a hr {
    border: 2px solid #faa61f;
    width: 5%;
    margin: 20px auto;
}
@media screen and (max-width: 991px) {
    .x-tours .type-tour a hr {
        border: 2px solid #faa61f;
        width: 8%;
        margin: 20px auto;
    }
}
@media screen and (max-width: 479px) {
    .x-tours .type-tour a hr {
        border: 2px solid #faa61f;
        width: 14%;
        margin: 20px auto;
        margin-top: 15px;
    }
}
.card .img-tour{
    border: 1px solid #e6e7e8; 
    border-radius: 4px; 
    background-color: #f7f7f7
}
.card .img-tour a {
    text-decoration: none;
}
.card .img-tour a img {
    border-radius: 3px 0 0 3px;
}
.card:hover {
    transform:translateY(-10px);
    transition: 0.4s;
    border: 1px solid #faa61a;
    border-radius: 4px;
}
.tour-info h2 {
    color: #231f20;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    margin-bottom: -5px;
}
.tour-info small {
    color: #808285;
    text-transform: uppercase;
    font-size: 12px;
}
.card-text {
    margin-top: 6px;
}
.card-text .offer-price {
    margin:0;
    padding:25px 0 0 0;
}
.card-text .rating-tour .fa {
    font-size: 20px;
    color: orange;  
}
.card-text .price {
    color: #104096;
    font-size: 40px;
    font-weight: bold;
}
@media screen and (max-width: 1199px) {
    .card-text .offer-price {
        margin:0;
        padding:20px 0 0 0;
    }
    .card-text {
        margin-top: 0px;
    }
    .card-text .rating-tour .fa {
        font-size: 16px;
        color: orange;  
    }
    .card-text .price {
        font-size: 30px;
        font-weight: bold;
    }
}
@media screen and (max-width: 991px) {
    .card .img-tour a img {
        border-radius: 3px 3px 0 0;
    }
}
/*-------------------- end typeOfTour-1 --------------------*/


/*---------------------- start x-tours-4 ------------------------- */
div.hot-tour > a{
    text-decoration: none;
    color: #231f20;
}
div.hot-tour > a:hover {
    color: #104096;
}
/* ---------------------- end x-tours-4 ------------------------- */


/*---------------------- start x-tours-4 ------------------------- */
#x-tours-4 .img-tour img{
    border-radius: 3px 3px 0 0;
}
/* ---------------------- end x-tours-4 ------------------------- */


/* ---------------------- start OurTeam ------------------------- */
#name-ourTeam a {
    text-decoration: none;
    font-weight:bold; 
    color: #000;
    font-family: 'Merriweather', serif; color: #fff
}
#name-ourTeam a h2 {
    margin-bottom: 20px;
}
#name-ourTeam a hr {
    width: 6%;
    border: 2px solid #faa61f;
}
@media screen and (max-width: 991px) {
    #name-ourTeam a h2 {
        margin-bottom: 15px;
    }
    #name-ourTeam a hr {
        width: 9%;
        border: 2px solid #faa61f;
    }
}
@media screen and (max-width: 479px) {
    #name-ourTeam a h2 {
        margin-bottom: 15px;
    }
    #name-ourTeam a hr {
        width: 19%;
        border: 2px solid #faa61f;
    }
}
.mem {
    background-color: #000; 
    border-radius: 6px; 
    padding-top: 10px;
}
.mem .img-mem {
    width: 100%; 
    text-align: center; 
    padding-bottom: 30px;
}
.mem .info-mem {
    color: #fff; 
    /*padding-left: 40px;*/
}
.mem .info-mem p {
    margin-bottom: -8px;
    text-align: center;
}
.mem .info-mem p.title {
    color: #faa61f;
    margin-bottom: 5px;
    /*margin-left: -35px; */
    text-transform: uppercase; 
    font-weight: bold; 
    font-family: 'Merriweather', serif; 
    text-align: center;
}
@media screen and (max-width: 991px) {
    .mem {
        margin-bottom: 40px;
    }
}
/* ---------------------- end OurTeam ------------------------- */


/* ---------------------- start video-banner ---------------------- */

#video-banner{
    text-align:center;
    color: white;
    background-color: #232323;
    /*margin-bottom: 200px;*/
    font-family: 'Merriweather', serif;
    padding-top: 50px;
    padding-bottom: 70px;
}

#video-banner h2{
    font-size:40px;
    font-weight:bold;
    margin-bottom:15px;
}

#video-banner p{
    font-size:19px;
    width:65%;
    margin:0 auto;
}

#video-banner #play-button .fa{
    color: #faa61a;
    font-size:33px;
    width:100px;
    height:100px;
    padding-top:31px;
    padding-left: 6px;
    text-align:center;
    margin-top:50px;
    border: solid #faa61a;
    border-radius: 50%;
}
/* ------------------- end video-banner ------------------- */



/* ------------------ start newsletter ------------------ */

#newsletter {
    background-color: #4b4b4b;
    color: white;
    padding: 100px 0;
    font-family: 'Merriweather', serif;
}
#newsletter h2{
    font-size:36px;
}
#newsletter p{
    font-size:18px;
    margin-bottom:40px;
}
#newsletter form .form-group{
    width:280px;
    margin:0 auto;
}
#newsletter form .form-group .email {
    border: none;
}
#newsletter form .input-group-btn .btn{
    font-size:22px;
    width:80px;
    color: #faa61a;
    background-color: #ffffff;
    border-radius: 0px 4px 4px 0px;
    border: 1px 1px 1px 0px solid #ced4da;
}
#newsletter form .input-group-btn .btn:hover {
    color: #000;
    background-color: #faa61a;
}
#newsletter form input, #newsletter form .input-group-btn .btn{
    height:60px;
}
/* ------------------ end newsletter ------------------*/


/* ------------------ footer -------------------- */

#footer-top{
    margin-top: 0px;
    padding: 40px 0;
    background-color: #231f20;
}
#footer.ftr-heading-mgn .footer-heading{
    /*border: solid yellow;*/
    margin-bottom:35px;
    color: #faa61a;
    font-family: 'Merriweather', serif;
}
.footer-widget .footer-heading{
    font-size:26px;
    font-weight:bold;
}
.footer-widget ul li, .footer-widget a, .footer-widget p{
    font-size:15px;
    color: white;
}
.footer-widget ul li a{
    color: white;
}
.footer-widget ul li a:hover{
    color: white;
}
.footer-widget.ftr-contact li{
    margin-bottom:21px;
}
.footer-widget.ftr-contact li .fa{
    font-size:20px;
    width:25px;
    margin-right:7px;
}
.footer-widget.ftr-contact li .fas{
    font-size:20px;
    width:25px;
    margin-right:7px;
}
.footer-widget.ftr-contact #phone{
    font-size:15px;
}
.footer-widget.ftr-links li{
    text-transform:uppercase;
    margin-bottom:9px;
}
.instagram-list li{
    margin-top:8px;
    padding-right:10px;
}
.footer-widget.ftr-about p{
    line-height:1.72em;
}
.footer-widget.ftr-about .social-links{
    margin-top:22px;
}

.footer-widget.ftr-about .social-links li a{
    font-size:21px;
}
.footer-widget.ftr-about .social-links li{
    margin-right:12px;
    margin-top:10px;
}
.footer-widget.ftr-in-touch form{
    margin-top:26px;
}
.footer-widget.ftr-in-touch input{
    height:37px;
}
.footer-widget.ftr-in-touch textarea{
    height:155px;
    padding-top:10px;
    padding-left:15px;
}
.footer-widget.ftr-in-touch input, .footer-widget.ftr-in-touch textarea{
    text-transform:uppercase;
    margin-bottom:22px;
}
.footer-widget.ftr-in-touch .btn{
    padding:7px 70px;
    font-size:16px;
    margin-top:5px;
    float:right;
}
.footer-widget.ftr-newsletter form{
    margin-top:30px;
}
.footer-widget.ftr-newsletter input{
    font-size:14px;
}
.footer-widget.ftr-newsletter .input-group-btn .btn{
    font-size:20px;
    height:46px;
}
.footer-widget.ftr-map iframe{
    height:270px;
}
#footer-bottom{
    padding-top:15px;
    padding-bottom:10px;
    background-color: #000;
    color: #979797;
}
#footer-bottom a {
    color: #979797;
}
#footer-bottom p, #footer-bottom ul{
    margin-bottom:0px;
    font-size:12px;
    color: #979797;
}
#footer-bottom #terms ul li {
    float: right;
}
.social-links i.fab.fa-facebook-f, .social-links i.fab.fa-twitter, .social-links i.fab.fa-google-plus-g, .social-links i.fab.fa-instagram{
    color: #afafaf;
}
.social-links i.fab.fa-facebook-f:hover {
    color:#4267b2;
}
.social-links i.fab.fa-twitter:hover {
    color: #1da1f2;
}
.social-links i.fab.fa-google-plus-g:hover {
    color: #fff;
}
.social-links i.fab.fa-instagram:hover {
    color: #a61189;
}
/* ---------------------- end footer ------------------------- */



