* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Lato', sans-serif;
}
.wp {
    padding: 0; 
    margin: 0;
    font-family: 'Lato', sans-serif;
}
div.row {
    margin:0;
}
i.fa.fa-plane {
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari prior 9.0 */
    transform: rotate(-45deg); /* Standard syntax */
}
/*-------------------- start topbar --------------------*/

.top-bar {
    margin:0;
    padding: 0;
    width: 100%;
    background-color: #000;
    font-size: 14px;
    padding: 12px 0;
}
ul.list-inline{
    margin: 0;
    color: white;
    font-family: 'Lato', sans-serif;
}
.top-bar .form-group{
    margin-bottom:0px;
}
.top-bar .form-group{
    font-size:15px;
    position:relative;
    text-transform:uppercase;
    width:45px;
}
.top-bar .form-group.currency{
    width:35px;
}
.top-bar .form-group .fa{
    position:absolute;
    right:0px;
    top:20px;
    font-size:18px;
}
.top-bar .form-group select {
    z-index:9999;
    padding:0px;
    height:auto;
    z-index:1;
    background-color: #000;
    color: #ffffff;
    border: none;
}
div.links ul li a{
    color: #fff;
}
li.login, li.signin, li.list-money, li.list-language {
        margin-left: 48px;
    }
@media screen and (max-width: 991px) {
    li.login, li.signin, li.list-money, li.list-language {
        margin-left: 24px;
    }
}
@media screen and (max-width: 768px) {
    li.login, li.signin, li.list-money, li.list-language {
        margin-left: 24px;
    }
}
/*-------------------- end topbar --------------------*/

/*-------------------- start nav-bar --------------------*/
#menutop a.w-75 {
      font-size: 27px; 
      font-family: "Helvetica Neue",Helveti ca,Arial,sans-serif; 
      font-weight: bold; 
      text-decoration: none; 
      color: #000;
}
#menutop ul li a:hover {
    color: #faa61f;
}
a.w-75 span {
    color: #faa61f;
}
a.w-75 span i {
    font-size: 35px; 
}
form.form-inline div.form-group a.mr-4 {
    color: #faa61f; 
    border: 2px solid; 
    padding: 2px 7px; 
    border-radius: 50%;
}
.offcanvas-collapse ul li a.active {
    color:#faa61f;
}
div.offcanvas-collapse ul li a {
    color: #000; 
    font-weight: bold; 
}
i.fa.fa-bars {
    font-size: 30px;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    form.form-inline div.form-group a.mr-4 {
        color: #faa61f; 
        border: 2px solid; 
        padding: 2px 7px; 
        border-radius: 50%;
        margin-right: 5px !important;
    }
    .offcanvas-collapse ul li a.active {
        color:#faa61f;
        padding-right: 0px !important;
    }
}
@media screen and (max-width: 767.98px) {
    div.offcanvas-collapse ul li a {
        color: #fff; 
        font-weight: bold; 
    }
    div.offcanvas-collapse ul li div.dropdown-menu {
        width: 10%;
        background-color: #343a40;
        border: none;
    }
    div.offcanvas-collapse ul li div a.dropdown-item {
        color: #fff;
        width: 100%;
    }
    div.offcanvas-collapse ul li div a.dropdown-item:hover {
        background-color: #343a40;
    }
    #menutop a.w-75 {
        font-size: 24px;
    }
    .offcanvas-collapse {
        position: fixed;
        top: 25%; /* Chiều cao của navbar */
        bottom: 0;
        width: 100vw;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        background-color: var(--gray-dark);
        transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    .offcanvas-collapse.open {
        -webkit-transform: translateY(-1rem) translateX(30%);
        transform: translateY(-1rem) translateX(30%);
    }
}
/*-------------------- end nav-bar --------------------*/


/* ------------------- Page Cover ------------------- */
.page-cover{
    padding: 400px 0px;
    position:relative;
}
.page-cover::before{
    content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    height:100%;    
    width:100%;
    background: url("../image/Great Barrier Reef/great-barrier-reef-1.jpg") no-repeat;
    background-size: 100% 100%;
}
.page-cover h1{
    font-size:32px;
    font-weight:bold;
    margin-bottom:6px;
}
.page-cover .breadcrumb{
    padding:0px;
    margin:0px;
    font-size:14px;
    font-weight:300;
}
.page-cover{
    color:#fff;
}
.page-cover .breadcrumb{
    background:none;
}
.page-cover .breadcrumb > li + li::before,
.page-cover .breadcrumb li a{
    color:#fff;
}
@media(max-width:767.98px){
    
    .page-cover::before{
        /*padding: 70px 0px;*/
        /*background:linear-gradient( to right, rgba(0, 0, 0,1) 0%,rgba(0, 0, 0,1) 26%, rgba(0, 0, 0,0.6) 66%, rgba(188, 188, 188,1) 84%,rgba(188, 188, 188,1) 100%); */
        /*background: linear-gradient(to top, #1ba0e2, rgb(0,0,0,1) 90%);*/
        background: url("../image/Great Barrier Reef/great-barrier-reef-1.jpg") no-repeat top;
        background-size: 100% 100%;
    }
}
/* ----------------- end page-cover ----------------- */



/*-------------- start intro --------------*/
.convince-1 ul {
    margin-left: 5%;
}
.convince-1 ul li p{
    margin-bottom: 5px;
}
.convince-2 ul {
    margin-left: 5%;
}
.convince-2 ul li p{
    margin-bottom: 5px;
}
@media screen and (max-width: 767.98px) {
    .convince-1 ul {
        margin-left: 8%;
    }
    .convince-2 ul {
        margin-left: 8%;
    }
}
@media screen and (max-width: 479.98px) {
    .convince-1 ul {
        margin-left: 10%;
    }
    .convince-2 ul {
        margin-left: 10%;
    }
}
/*-------------- end intro --------------*/




/*-------------- start left-bar --------------*/
.left-bar select {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.main-left-bar {
    /*border: solid;*/
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.main-left-bar div.container {
    border:1px solid #e6e7e8; 
}
.price {
    background-color: #faa61f;
    position: relative;
}
.price h2 {
    margin-top: 10px;
    margin-left: 16px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin-right: 16px;
}
.price p {
    /*text-transform: uppercase;*/
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 16%;
    display: inline-block;
}
@media screen and (max-width: 400px) {
    .price p {
        font-size: 14px;
        /*text-transform: uppercase;*/
        margin-top: 10px;
        font-weight: bold;
        color: #fff;
        position: absolute;
        top: 16%;
        display: inline-block;
    }
}
.booking-title {
    margin-top: 40px;
    margin-bottom: 30px;
}
.booking-title h3 {
    font-weight: bold;
    margin-bottom: 0px;
}
.booking-title p {   
    color: #808285;
    font-size: 14px;
}
.booking-form .form-group .form-control {
    border-radius: 0px;
}
div.adults {
    padding-left: 0;
    padding-right: 5px;
    /*margin-right: 10px;*/
}
div.adults div.form-group {
    position: relative;
}
div.adults select.form-control {
    border-radius: 0px;
    cursor: pointer;
}
div.adults div.form-group i.fa.fa-angle-down {
    position: absolute; 
    top: 10px; 
    right:10px; 
    font-size: 18px;
}
div.children {
    padding-right: 0;
    padding-left: 5px;
    /*margin-right: 10px;*/
}
div.children div.form-group {
    position: relative;
}
div.children select.form-control {
    border-radius: 0px;
    cursor: pointer;
}
div.children div.form-group i.fa.fa-angle-down {
    position: absolute; 
    top: 10px; 
    right:10px; 
    font-size: 18px;
    pointer-events:none;
}
div.payment-method {
    position: relative;
}
div.payment-method select.form-control {
    border-radius: 0px; 
    cursor: pointer;
}
div.payment-method i.fa.fa-angle-down {
    position: absolute; 
    top: 10px; 
    right:10px; 
    font-size: 18px;
    pointer-events:none;
}
.checkbox {
    position: relative;
}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 13px;
  width: 13px;
  background-color: #7e7e7e;
}
/*.check:hover input ~ .checkmark {
  background-color: #ccc;
}*/
.check input:checked ~ .checkmark {
  background-color: #faa61f;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.check input:checked ~ .checkmark:after {
  display: block;
}
.check .checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.itinerary1 ul li {
    margin-left: 6%;
}
.itinerary2 ul li {
    margin-left: 6%;
}
.itinerary3 ul li {
    margin-left: 6%;
}
.itinerary4 ul li {
    margin-left: 6%;
}
@media screen  and (max-width: 1199.98px) {
    .itinerary1 ul li {
        margin-left: 10%;
    }
    .itinerary2 ul li {
        margin-left: 10%;
    }
    .itinerary3 ul li {
        margin-left: 10%;
    }
    .itinerary4 ul li {
        margin-left: 10%;
    }
}
@media screen  and (max-width: 767.98px) {
    .itinerary1 ul li {
        margin-left: 11%;
    }
    .itinerary2 ul li {
        margin-left: 11%;
    }
    .itinerary3 ul li {
        margin-left: 11%;
    }
    .itinerary4 ul li {
        margin-left: 11%;
    }
}
@media screen  and (max-width: 479.98px) {
    .itinerary1 ul li {
        margin-left: 16%;
    }
    .itinerary2 ul li {
        margin-left: 16%;
    }
    .itinerary3 ul li {
        margin-left: 16%;
    }
    .itinerary4 ul li {
        margin-left: 16%;
    }
}
/*---------------- nav tabs ------------------*/
div.nav-bar i.fa:hover {
    color: #faa61f;
}
div.nav-bar a.nav-link.active i.fa {
    color: #faa61f;
}
ul.nav.nav-tabs {
    border: 1px solid #efebe5;
    border-radius: 5px 5px 0 0;
    background-color: #efebe5;
}
div.tab-content {
    border: 1px solid #efebe5;
    border-top: none;
}
i.fa.fa-utensils {
    font-size: 28px;
    color: #666666;
}
i.fa.fa-train {
    font-size: 28px;
    color: #666666;
}
i.fa.fa-bed {
    font-size: 28px;
    color: #666666;
}
i.fa.fa-camera {
    font-size: 28px;
    color: #666666;
}
@media screen and (max-width: 320px) {
    i.fa.fa-utensils {
        font-size: 22px;
    }
    i.fa.fa-train {
        font-size: 22px;
    }
    i.fa.fa-bed {
        font-size: 22px;
    }
    i.fa.fa-camera {
        font-size: 22px;
    }
}
/* -------------- start need-help ----------------*/
.need-help {
    background-color: #f1f2f2;
    padding: 30px;
    margin-bottom: 70px;
}
.need-help h3 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    line-height: 1.3em;
    color: #808285;
}
.need-help p {
    color: #808285;
}
div.support-contact .hotline{
    color: #808285;
    font-size: 20px;
    font-weight: bold;
}
/* -------------- end need-help ----------------
/*-------------- end left-bar --------------*/

/* ----------------- start about-star-travels ----------------- */
ul li.address {
    margin-left: 30px;
}
@media screen and (max-width: 1199.98px) {
    ul li.address {
        margin-left: 35px;
    }
}
@media screen and (max-width: 991.98px) {
    ul li.address {
        margin-left: 43px;
    }
}
@media screen and (max-width: 991.98px) {
    ul li.address {
        margin-left: 52px;
    }
}
/* ----------------- end about-star-travels ----------------- */





/*-------------- start best-feature --------------*/
.black-features {
    padding-top:40px;
    padding-bottom:40px;
    background-color: #232323;
    color: white;
}
.b-feature-block{
    text-align:center;
}
.b-feature-block .fa{
    height:70px;
    width:65px;
    text-align:center;
    padding-top:15px;
    font-size:35px;
    margin-bottom:28px;
    transition:.4s;
}
.b-feature-block h3{
    font-size:22px;
    font-weight:bold;
    margin-bottom:6px;
    font-size: 30px;
}
.b-feature-block p{
    margin-bottom:0px;
    font-size: 16px;
}
#tour-carousel .carousel-control{
    opacity:1;
    width:auto;
}
.b-feature-block .flip-animation {
    border: solid #faa61a;
    color: #faa61a;
}
.b-feature-block .flip-animation:hover {
    transition: 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    background-color: #faa61a;
    color: white;
}
@media screen and (max-width: 767px) {
    div.over {
        margin-bottom: 60px;
    };
}
/*-------------------- end best-feature --------------------*/


/* ------------------ start newsletter ------------------ */

#newsletter {
    background-color: #4b4b4b;
    color: white;
    padding: 100px 0;
    font-family: 'Merriweather', serif;
}
#newsletter h2{
    font-size:36px;
}
#newsletter p{
    font-size:18px;
    margin-bottom:40px;
}
#newsletter form .form-group{
    width:280px;
    margin:0 auto;
}
#newsletter form .form-group .email {
    border: none;
}
#newsletter form .input-group-btn .btn{
    font-size:22px;
    width:80px;
    color: #faa61a;
    background-color: #ffffff;
    border-radius: 0px 4px 4px 0px;
    border: 1px 1px 1px 0px solid #ced4da;
}
#newsletter form .input-group-btn .btn:hover {
    color: #000;
    background-color: #faa61a;
}
#newsletter form input, #newsletter form .input-group-btn .btn{
    height:60px;
}
/* ------------------ end newsletter ------------------*/


/* ------------------ footer -------------------- */

#footer-top{
    margin-top: 0px;
    padding: 40px 0;
    background-color: #231f20;
}
#footer.ftr-heading-mgn .footer-heading{
    /*border: solid yellow;*/
    margin-bottom:35px;
    color: #faa61a;
    font-family: 'Merriweather', serif;
}
.footer-widget .footer-heading{
    font-size:26px;
    font-weight:bold;
}
.footer-widget ul li, .footer-widget a, .footer-widget p{
    font-size:15px;
    color: white;
}
.footer-widget ul li a{
    color: white;
}
.footer-widget ul li a:hover{
    color: white;
}
.footer-widget.ftr-contact li{
    margin-bottom:21px;
}
.footer-widget.ftr-contact li .fa{
    font-size:20px;
    width:25px;
    margin-right:7px;
}
.footer-widget.ftr-contact li .fas{
    font-size:20px;
    width:25px;
    margin-right:7px;
}
.footer-widget.ftr-contact #phone{
    font-size:15px;
}
.footer-widget.ftr-links li{
    text-transform:uppercase;
    margin-bottom:9px;
}
.instagram-list li{
    margin-top:8px;
    padding-right:10px;
}
.footer-widget.ftr-about p{
    line-height:1.72em;
}
.footer-widget.ftr-about .social-links{
    margin-top:22px;
}
.footer-widget.ftr-about .social-links li a{
    font-size:21px;
}
.footer-widget.ftr-about .social-links li{
    margin-right:12px;
    margin-top:10px;
}
.footer-widget.ftr-in-touch form{
    margin-top:26px;
}
.footer-widget.ftr-in-touch input{
    height:37px;
}
.footer-widget.ftr-in-touch textarea{
    height:155px;
    padding-top:10px;
    padding-left:15px;
}
.footer-widget.ftr-in-touch input, .footer-widget.ftr-in-touch textarea{
    text-transform:uppercase;
    margin-bottom:22px;
}
.footer-widget.ftr-in-touch .btn{
    padding:7px 70px;
    font-size:16px;
    margin-top:5px;
    float:right;
}
.footer-widget.ftr-newsletter form{
    margin-top:30px;
}
.footer-widget.ftr-newsletter input{
    font-size:14px;
}
.footer-widget.ftr-newsletter .input-group-btn .btn{
    font-size:20px;
    height:46px;
}
.footer-widget.ftr-map iframe{
    height:270px;
}
#footer-bottom{
    padding-top:15px;
    padding-bottom:10px;
    background-color: #000;
    color: #979797;
}
#footer-bottom a {
    color: #979797;
}
#footer-bottom p, #footer-bottom ul{
    margin-bottom:0px;
    font-size:12px;
    color: #979797;
}
#footer-bottom #terms ul li {
    float: right;
}
.social-links i.fab.fa-facebook-f, .social-links i.fab.fa-twitter, .social-links i.fab.fa-google-plus-g, .social-links i.fab.fa-instagram{
    color: #afafaf;
}
.social-links i.fab.fa-facebook-f:hover {
    color:#4267b2;
}
.social-links i.fab.fa-twitter:hover {
    color: #1da1f2;
}
.social-links i.fab.fa-google-plus-g:hover {
    color: #fff;
}
.social-links i.fab.fa-instagram:hover {
    color: #a61189;
}
/* ---------------------- end footer ------------------------- */




